<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-notificare-push" version="2.6.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>NotificarePushLibCordova</name>
    <js-module name="NotificarePushLibCordova" src="www/NotificarePushLibCordova.js">
        <clobbers target="Notificare" />
        <merges target="cordova.plugins.Notificare" />
    </js-module>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="NotificarePushLibCordova">
                <param name="ios-package" value="NotificarePushLibCordova" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <preference name="LOCATION_ALWAYS_AND_WHEN_IN_USE_USAGE_DESCRIPTION" default=" " />
        <config-file target="*-Info.plist" parent="NSLocationAlwaysAndWhenInUseUsageDescription">
            <string>$LOCATION_ALWAYS_AND_WHEN_IN_USE_USAGE_DESCRIPTION</string>
        </config-file>

        <preference name="LOCATION_WHEN_IN_USE_USAGE_DESCRIPTION" default=" " />
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>$LOCATION_WHEN_IN_USE_USAGE_DESCRIPTION</string>
        </config-file>

        <preference name="LOCATION_ALWAYS_USAGE_DESCRIPTION" default=" " />
        <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
            <string>$LOCATION_ALWAYS_USAGE_DESCRIPTION</string>
        </config-file>

        <preference name="CAMERA_USAGE_DESCRIPTION" default=" " />
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>$CAMERA_USAGE_DESCRIPTION</string>
        </config-file>

        <preference name="PHOTOLIBRARY_USAGE_DESCRIPTION" default=" " />
        <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
            <string>$PHOTOLIBRARY_USAGE_DESCRIPTION</string>
        </config-file>

        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>remote-notification</string>
            </array>
        </config-file>

        <config-file parent="aps-environment" target="*/Entitlements-Debug.plist">
            <string>development</string>
        </config-file>

        <config-file parent="aps-environment" target="*/Entitlements-Release.plist">
            <string>production</string>
        </config-file>

        <source-file src="src/ios/NotificarePushLibCordova.m" />
        <header-file src="src/ios/NotificarePushLibCordovaUtils.h" />
        <source-file src="src/ios/NotificarePushLibCordovaUtils.m" />

        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods use-frameworks="true">
                <pod name="notificare-push-lib" spec="2.7-beta2"/>
            </pods>
        </podspec>
    </platform>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="NotificarePushLibCordova">
                <param name="android-package" value="re.notifica.cordova.NotificarePlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <preference name="GOOGLE_MAPS_API_KEY" default=" " />
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <!-- Use this to have a standalone notification activity -->
            <activity
                    android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
                    android:name="re.notifica.ui.NotificationActivity"
                    android:excludeFromRecents="true"
                    android:exported="false" />

            <activity
                    android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
                    android:name="re.notifica.ui.PassbookActivity"
                    android:configChanges="keyboardHidden|orientation|screenSize"
                    android:exported="false"
                    android:hardwareAccelerated="true" />

            <receiver
                    android:name="re.notifica.cordova.IntentReceiver"
                    android:exported="false" />

            <!-- API key for Google Maps -->
            <meta-data
                    android:name="com.google.android.maps.v2.API_KEY"
                    android:value="$GOOGLE_MAPS_API_KEY" />

        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application/activity[@android:name='MainActivity']">
            <intent-filter>
                <action android:name="re.notifica.intent.action.RemoteMessageOpened" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="re.notifica.intent.action.NotificationOpened" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </config-file>

        <source-file src="src/android/BaseApplication.java" target-dir="src/re/notifica/cordova/" />
        <source-file src="src/android/IntentReceiver.java" target-dir="src/re/notifica/cordova/" />
        <source-file src="src/android/NotificarePlugin.java" target-dir="src/re/notifica/cordova/" />
        <source-file src="src/android/NotificareUtils.java" target-dir="src/re/notifica/cordova/" />

        <!-- Depend on Google Services plugin -->

        <!-- Depend on latest version of NotificarePushLib -->
        <framework src="src/android/notificare.gradle" custom="true" type="gradleReference" />

    </platform>

</plugin>
