<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="re.notifica.cordova"
        version="1.1.1">

  <name>Notificare Plugin</name>

  <description>
    This plugin allows your application to register for, receive and handle push notifications with Notificare on both Android and iOS devices.
  </description>

  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=3.5.0"/>
  </engines>

  <js-module src="www/notificare.js" name="Notificare">
    <clobbers target="Notificare"/>
  </js-module>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Notificare">
        <param name="android-package" value="re.notifica.cordova.NotificarePlugin"/>
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
      <uses-permission android:name="android.permission.WAKE_LOCK"/>
      <uses-permission android:name="android.permission.INTERNET"/>
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
      <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
      <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
      <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
      <permission android:name=".permission.C2D_MESSAGE" android:protectionLevel="signature"/>
      <uses-permission android:name=".permission.C2D_MESSAGE"/>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <!-- Use this to have a standalone notification activity --> 
      <activity 
        android:name="re.notifica.ui.NotificationActivity"
        android:taskAffinity=""
        android:excludeFromRecents="true" />
      <!-- Use this to start your main activity in the back stack, replace activity name as appropriate -->
      <!--  
      <activity 
        android:name="re.notifica.ui.NotificationActivity"
        android:parentActivityName=".MainActivity">
        <meta-data
        		android:name="android.support.PARENT_ACTIVITY"
        		android:value=".MainActivity"/>
      </activity>
      -->
      <receiver 
        android:name="re.notifica.push.gcm.PushReceiver" 
        android:permission="com.google.android.c2dm.permission.SEND">
        <intent-filter>
          <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
          <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
          <category android:name="$PACKAGE_NAME"/>
        </intent-filter>
      </receiver>
      <service android:name="re.notifica.push.gcm.PushService"
        android:label="Notificare Push Service" />
      <receiver android:name="re.notifica.cordova.IntentReceiver" />

      <meta-data  android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
      <!-- API key for Google Maps -->
      <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="COPY GOOGLE MAPS KEY FROM GOOGLE API CONSOLE" />
      
    </config-file>

    <source-file src="src/android/src/re/notifica/cordova/NotificarePlugin.java" target-dir="src/re/notifica/cordova/"/>
    <source-file src="src/android/src/re/notifica/cordova/IntentReceiver.java" target-dir="src/re/notifica/cordova/"/>
    <source-file src="src/android/src/re/notifica/cordova/BaseApplication.java" target-dir="src/re/notifica/cordova/"/>
    <source-file src="src/android/src/re/notifica/cordova/BaseActivity.java" target-dir="src/re/notifica/cordova/"/>

    <resource-file src="src/android/res/xml/preferences.xml" target="res/xml/preferences.xml" />
    <resource-file src="src/android/res/values/strings_preferences.xml" target="res/values/strings_preferences.xml" />
    <resource-file src="src/android/assets/notificareconfig.properties" target="assets/notificareconfig.properties" />
  </platform>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="Notificare">
        <param name="ios-package" value="NotificarePlugin" />
      </feature>
    </config-file>
    <header-file src="src/ios/NotificarePlugin.h"/>
    <source-file src="src/ios/NotificarePlugin.m"/>
    <header-file src="src/ios/NotificareAppDelegateSurrogate.h"/>
    <source-file src="src/ios/NotificareAppDelegateSurrogate.m"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Actions/App/NotificareApp.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Actions/Browser/NotificareBrowser.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Actions/Callback/NotificareCallback.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Actions/Custom/NotificareCustom.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Actions/Mail/NotificareMail.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Actions/SMS/NotificareSMS.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Actions/Telephone/NotificareTelephone.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Actions/ActionDelegate.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Actions/ActionType.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Libraries/MKNetworkKit/Categories/NSData+NotificareMKBase64.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Libraries/MKNetworkKit/Categories/NSDate+NotificareRFC1123.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Libraries/MKNetworkKit/Categories/NSDictionary+NotificareRequestEncoding.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Libraries/MKNetworkKit/Categories/NSString+NotificareMKNetworkKitAdditions.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Libraries/MKNetworkKit/Categories/UIAlertView+NotificareMKNetworkKitAdditions.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Libraries/MKNetworkKit/Reachability/NotificareReachability.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Libraries/MKNetworkKit/NotificareMKNetworkEngine.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Libraries/MKNetworkKit/NotificareMKNetworkKit.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Libraries/MKNetworkKit/NotificareMKNetworkOperation.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Libraries/NXOAuth2Client/NotificareNXOauth2.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Libraries/NXOAuth2Client/NotificareNXOauth2AccessToken.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Libraries/NXOAuth2Client/NotificareNXOauth2Account+Private.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Libraries/NXOAuth2Client/NotificareNXOauth2Account.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Libraries/NXOAuth2Client/NotificareNXOauth2AccountStore.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Libraries/NXOAuth2Client/NotificareNXOauth2Client.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Libraries/NXOAuth2Client/NotificareNXOauth2ClientDelegate.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Libraries/NXOAuth2Client/NotificareNXOauth2Connection.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Libraries/NXOAuth2Client/NotificareNXOauth2ConnectionDelegate.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Libraries/NXOAuth2Client/NotificareNXOauth2Constants.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Libraries/NXOAuth2Client/NotificareNXOauth2FileStreamWrapper.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Libraries/NXOAuth2Client/NotificareNXOauth2PostBodyPart.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Libraries/NXOAuth2Client/NotificareNXOauth2PostBodyStream.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Libraries/NXOAuth2Client/NotificareNXOauth2Request.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Libraries/NXOAuth2Client/NotificareNXOauth2TrustDelegate.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Libraries/NXOAuth2Client/NSData+NotificareNXOauth2.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Libraries/NXOAuth2Client/NSString+NotificareNXOauth2.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Libraries/NXOAuth2Client/NSURL+NotificareNXOauth2.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Libraries/SocketRocket/base64.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Libraries/SocketRocket/NSData+NotificareSRB64Additions.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Libraries/SocketRocket/NotificareSRWebSocket.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Libraries/SocketRocket/NotificareSocketRocket-Prefix.pch"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Models/NotificareAction.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Models/NotificareAttachment.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Models/NotificareContent.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Models/NotificareNotification.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Shared/NSData+Hex.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Shared/NSDictionary+FromPlist.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Shared/NSString+FromBundle.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Shared/NSString+Utils.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Shared/UIImage+FromBundle.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Types/Alert/NotificareAlert.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Types/Beacons/NotificareBeacons.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Types/Form/NotificareForm.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Types/Image/NotificareImage.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Types/Map/NotificareLocation.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Types/Map/NotificareMap.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Types/Passbook/NotificarePassbook.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Types/Rate/NotificareRate.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Types/URL/NotificareURL.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Types/UserPreferences/NotificareUserPreferences.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Types/Video/NotificareVideo.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Types/WebView/NotificareWebView.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Types/NotificationDelegate.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Types/NotificationType.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/Notificare.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/NotificareActions.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/NotificareEngine.h"/>
    <header-file src="src/ios/Notificare/NotificarePushLib/NotificarePushLib.h"/>
    
	<resource-file src="src/ios/DefaultTheme.bundle"/>
    <resource-file src="src/ios/Notificare.plist"/>
    <resource-file src="src/ios/NotificareTags.plist"/>
    
    <source-file src="src/ios/libNotificarePushLib.a" framework="true"/>
    
    <framework src="CoreLocation.framework"/>
    <framework src="MobileCoreServices.framework"/>
    <framework src="MessageUI.framework"/>
    <framework src="libicucore.dylib"/>
    <framework src="UIKit.framework"/>
    <framework src="Foundation.framework"/>
    <framework src="CoreGraphics.framework"/>
    <framework src="PassKit.framework"/>
    <framework src="MapKit.framework"/>
    <framework src="SystemConfiguration.framework"/>
    <framework src="Security.framework"/>
    <framework src="CFNetwork.framework"/>
  </platform>
</plugin>
